# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# macOS
.DS_Store

# IDE
.idea
.vscode
*.swp
*.swo

# Obsidian
.obsidian/

# PKM (PARA) 폴더
1. Projects/
2. Areas/
3. Resources/
4. Archives/

# 개인 파일
Flutter.md
style6.html
탄원서.md
